.videos-container {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a floating effect */
  background-color: var(--sub-heading-bg-light); /* Light background color */
}

.videos-slider {
  overflow: visible; /* Allow overflow for expanded content */
}

.episode-card {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.episode-card.current {
  transform: scale(1.05); /* Slightly enlarge the current card */
  border: 2px solid var(--card-tags-values); /* Border color for current card */
}

.episode-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--sub-heading-color-light);
}

.episode-card p {
  margin-bottom: 5px;
  color: var(--details-values-color-light); /* Medium text color */
}

.episode-card a {
  display: inline-block;
  background-color: var(--mode-theme-primary);
  color: var(--sub-heading-color-light);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.episode-card a:hover {
  background-color: var(--details-values-color-light-2);
}
.episode-card span {
  color: var(--sub-heading-border-light);
  font-size: smaller;
}
/* Slider styling */
.mui-slider {
  margin-top: 0.1rem;
}
.title-japanese.hidden {
  visibility: hidden;
}
.episode-score {
  font-weight: bold;
}

/* General breakpoints */
/* Responsive styles */

/* Mobile devices (phones, 320px and up) to small devices (phones, 480px and down) */
/* Suitable for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .videos-container {
    max-width: 90vw; /* mobile devices */
  }
}

/* Small tablets (481px and up) to medium devices (tablets, 768px and down) */
/* Suitable for small tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .videos-container {
    max-width: 25rem; /* Small tablets */
  }
}

/* Medium devices (tablets, 769px and up) to large devices (desktops, 1024px and down) */
/* Suitable for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .videos-container {
    max-width: 35rem; /* Tablets */
  }
}

/* Large devices (desktops, 1025px and up) to extra large devices (large desktops, 1200px and down) */
/* Suitable for small desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
  .videos-container {
    max-width: 40rem; /* Small desktops */
  }
}

/* Extra large devices (large desktops, 1201px and up) */
/* Suitable for large desktops */
@media (min-width: 1201px) {
  .videos-container {
    max-width: 50rem; /* Large desktops */
  }
}

/* Extra large devices (large desktops, 1200px and up) to extra extra large devices (very large desktops, 1280px and down) */
/* Suitable for very large desktops */
@media (min-width: 1200px) and (max-width: 1280px) {
  .videos-container {
    max-width: 50rem; /* Suitable for very large desktops */
  }
}

/* iPad Pro 11" (both landscape and portrait) */
@media (min-width: 834px) and (max-width: 1194px) and (orientation: portrait) and (aspect-ratio: 4/3),
  (min-width: 1194px) and (max-width: 1668px) and (orientation: landscape) and (aspect-ratio: 4/3) {
  .videos-container {
    max-width: 30rem; /* iPad Pro 11" */
  }
}
