.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: inline-block;
  background-color: var(--input-search-border);
  border-radius: 4px;
  position: fixed;
  font-weight: bold;
  color: var(--details-ids-color-light);
  border: 1px solid var(--details-values-color-light);
}
.light-mode .back-button {
  background-color: var(--input-search-border);
  color: var(--details-ids-color-light);
  border: 1px solid var(--details-values-color-light);
}

.back-button:hover {
  background-color: var(--details-values-color-light);
}
.light-mode .back-button:hover {
  background-color: var(--details-values-color-light);
}
.back-button:active {
  background-color: var(--details-values-color-light-2);
}
.light-mode .back-button:active {
  background-color: var(--details-values-color-light-2);
}

.back-button:focus {
  outline: none;
}
