.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: rgba(98, 119, 138, 0.184);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
  overflow: hidden;
  transition: transform 0.4s ease, filter 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  filter: Brightness(90%);
}

.card-image-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: var(--card-title);
  text-shadow: #1a1a1a 5px 0 5px;
}

.card-tags {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--card-tags);
  font-weight: bolder;
}
.card-tags-type,
.card-tags-genres,
.card-tags-score {
  margin-top: 0.5rem;
  font-weight: bold;
  color: var(--card-tags-values);
}

.tag {
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--pagination-bg-button);
  color: var(--pagination-bg-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.pagination button:hover {
  background-color: var(--pagination-bg-button-hover);
  color: var(--pagination-bg-text-hover);
  font-weight: bold;
  font-family: "Inter", sans-serif;
  animation: breathes 0.7s infinite alternate ease-in-out;
}
@keyframes breathes {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.Loading {
  font: bold blue;
}
.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--Loading-icon);
}

.no-matches {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: auto;
  font-size: 1.5rem;
  color: #4da0ff;
  font-weight: bold;
  font-size: 2rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
