.characters-table {
  width: 100%;
  margin-top: 0.5rem;
  max-width: 55rem;
  margin: 0 auto;
}

.characters-table table {
  width: 100%;
  border-collapse: collapse;
}

.characters-table th,
.characters-table td {
  border: 2px solid var(--sub-heading-color-light);
  text-align: center;
}

.characters-table th {
  background-color: var(--sub-heading-color-light);
  text-align: center;
}

.characters-table th {
  color: var(--pagination-bg-text);
}

.characters-table td {
  color: var(--details-values-color-light);
  font-weight: 600;
}

.characters-table .unzoomed-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.zoomed-image {
  width: none;
  height: none;
}
.pagination {
  margin-top: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  background-color: var(--sub-heading-color-light);
  cursor: pointer;
  color: var(--pagination-bg-text);
}

.pagination button.active {
  background-color: var(--sub-heading-border-light);
  color: var(--details-values-color-light-2);
}

.pagination button:hover:not(.active) {
  background-color: var(--card-tags);
  color: var(--mode-theme-primary);
}
