.galleryPic-pictures-container {
  position: relative;
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  padding: 20px;
}

.galleryPic-pictures-slider {
  overflow: hidden;
  width: 100%;
}

.galleryPic-picture-card {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.galleryPic-picture-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px; /* Adjust as needed */
}

.zoomed-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.zoomed-image-container {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomed-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.zoom-out-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--sub-heading-color-light);
  background-color: var(--details-values-color-light-2);
  font-size: larger;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.zoomed-prev,
.zoomed-next {
  border: 2px solid var();
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--sub-heading-color-light);
  background-color: var(--details-values-color-light-2);
  font-size: larger;
  z-index: 100;
}

.zoomed-prev {
  left: calc(10vw - 20px);
}

.zoomed-next {
  right: calc(10vw - 20px);
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.836);
  z-index: 5;
}
.galleryPic-pictures-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slick-prev,
.slick-next {
  font-size: 20px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
/* General breakpoints */
/* Responsive styles */

@media (min-width: 320px) and (max-width: 480px) {
  .galleryPic-pictures-container {
    max-width: 90vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .galleryPic-pictures-container {
    max-width: 25rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .galleryPic-pictures-container {
    max-width: 35rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .galleryPic-pictures-container {
    max-width: 40rem;
  }
}

@media (min-width: 1201px) {
  .galleryPic-pictures-container {
    max-width: 50rem;
  }
}

@media (max-width: 768px) {
  .manga-pictures-slider .slick-prev,
  .manga-pictures-slider .slick-next {
    display: none !important;
  }
}

/* iPad Pro 11" (both landscape and portrait) */
@media (min-width: 834px) and (max-width: 1194px) and (orientation: portrait),
  (min-width: 1194px) and (max-width: 1668px) and (orientation: landscape) {
  .galleryPic-pictures-container {
    max-width: 30rem; /* iPad Pro 11" */
  }
}
