.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background: #161619;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.light-mode .navbar {
  background: #d6d8e3;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 1;
}
.icon-sizing1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
input {
  font-size: 18px;
  border: 2px solid var(--input-search-border);
  border-radius: 5px;
  background-color: var(--input-search-bg);
  color: var(--input-search-color);
  transition: border-color 0.3s ease;
}

.desktop-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.categories {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: var(--sub-heading-color-light);
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-items: center;
}

.category-link {
  text-decoration: none;
  color: #1e97e6;
  padding: 0.5rem 1rem;
  font-size: 0.99rem;
  transition: background-color 0.3s ease;
}

.category-link:hover {
  background-color: #bfc1d2;
}

.search-bar {
  flex: 1;
  margin: 0.9rem auto; /* Ensure it centers properly */
}

.toggle-mode {
  text-align: center;
}

.toggle-mode-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.toggle-mode-btn img {
  width: 24px;
  height: auto;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}
.navbar-content {
  width: 100%;
  justify-content: space-between;
}
.hamburger-container {
  color: var(--sub-heading-color-light);
  background-color: var(--sub-heading-bg-light);
  border-radius: 21px;
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #161619;
  position: absolute;
  top: 5rem;
  right: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 999;
  display: none;
}

.nav-items.open {
  display: flex;
}
