.reviews-container {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.reviews-slider {
  overflow: visible; /* Allow overflow for expanded content */
}

.review-card {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--sub-heading-bg-light);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: height 0.3s ease;
}

.review-card.expanded {
  max-height: none;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: var(--user-details-color-light);
  border-radius: 5px;
  padding: 5px;
}

.user-image {
  width: 42px;
  height: 62px;
  border-radius: 5px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  color: var(--sub-heading-color-light);
}

.review-date {
  font-size: 0.9em;
  color: var(--details-ids-color-light);
  font-weight: bold;
  font-style: italic;
}

.review-tags {
  margin-bottom: 10px;
}

.review-tag {
  display: inline-block;
  background-color: var(--sub-heading-color-light);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.8em;
}

.review-body {
  margin-bottom: 10px;
  color: var(--details-values-color-light);
  display: inline-block;
  background-color: var(--emoji-overall-bg-text-light);
  padding: 5px 10px;
  line-height: 1.6;
  border-radius: 5px;
  font-size: 0.8em;
}

/* Markdown-specific styles within .review-body */
.review-body h1,
.review-body h2,
.review-body h3,
.review-body h4,
.review-body h5,
.review-body h6 {
  color: var(--details-ids-color-light);
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.review-body p {
  margin: 0.5em 0;
  color: var(--details-ids-color-light-2);
}

.review-body a {
  color: var(--details-values-color-light);
  text-decoration: underline;
}

.review-body ul,
.review-body ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.review-body li {
  margin-bottom: 0.5em;
}

.review-body blockquote {
  margin: 0.8em 0;
  padding: 0.5em 1em;
  background-color: var(--sub-heading-bg-light);
  border-left: 5px solid var(--sub-heading-border-light);
  color: var(--unknown-details-color-light);
}

.review-body code {
  background-color: var(--sub-heading-bg-light);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: monospace;
  color: var(--sub-heading-color-light);
  font-weight: bold;
}

.review-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid var(--sub-heading-border-light);
  padding-top: 10px;
  font-size: 0.85em;
}

.review-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-more-less-btn {
  display: inline-block;
  background-color: var(--emoji-overall-bg-light);
  color: var(--details-ids-color-light);
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.85em;
  border: 0px;
}

.review-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.review-emoji {
  color: var(--details-ids-color-light);
  font-weight: bold;
  margin-right: 2px;
  cursor: pointer;
  padding: 5px;
  background-color: var(--emoji-overall-bg-light);
  border-radius: 10px;
}

.review-emoji.selected {
  color: var(--sub-heading-color-light);
}

.review-emoji-overall {
  display: inline-block;
  font-size: 1.1em;
  background-color: var(--emoji-overall-bg-light);
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
  color: var(--sub-heading-color-light);
}

.review-emoji-overall-total {
  display: inline-block;
  background-color: var(--emoji-overall-bg-light);
  padding: 5px;
  margin: 0 5px;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 10px;
  color: var(--card-tags);
}

.review-emoji-copy.selected {
  color: var(--sub-heading-color-light);
}

.review-details .review-emoji.selected {
  background-color: var(--details-values-color-light);
  color: var(--sub-heading-color-light);
}

/* General breakpoints */
/* Responsive styles */

/* Mobile devices (phones, 320px and up) to small devices (phones, 480px and down) */
/* Suitable for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .reviews-container {
    max-width: 90vw; /* Mobile devices */
  }
}

/* Small tablets (481px and up) to medium devices (tablets, 768px and down) */
/* Suitable for small tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .reviews-container {
    max-width: 25rem; /* Small tablets */
  }
}

/* Medium devices (tablets, 769px and up) to large devices (desktops, 1024px and down) */
/* Suitable for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .reviews-container {
    max-width: 35rem; /* Tablets */
  }
}

/* Large devices (desktops, 1025px and up) to extra large devices (large desktops, 1200px and down) */
/* Suitable for small desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
  .reviews-container {
    max-width: 40rem; /* Small desktops */
  }
}

/* Extra large devices (large desktops, 1201px and up) */
/* Suitable for large desktops */
@media (min-width: 1201px) {
  .reviews-container {
    max-width: 50rem; /* Large desktops */
  }
}

/* Extra large devices (large desktops, 1200px and up) to extra extra large devices (very large desktops, 1280px and down) */
/* Suitable for very large desktops */
@media (min-width: 1200px) and (max-width: 1280px) {
  .reviews-container {
    max-width: 50rem; /* Suitable for very large desktops */
  }
}
