@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #23252c;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode,
html.light-mode {
  padding: 0;
  margin: 0;
  background-color: #dbdde6;
  color: #333333;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.app {
  padding: 0;
  margin: 0;
  background-color: #dbdde6;
  color: #333333;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
.App {
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
}

.light-mode .App {
  background-color: #d2d3db;
  color: #333333;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.footer {
  display: flex;
  height: 5rem;
  background: #161619;
  border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0rem;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode .footer {
  background: #d6d8e3;
}

.footer--links__icon {
  height: 5vh;
}

.toggle-mode {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-mode img {
  height: 20px;
  width: 20px;
}

.light-mode .toggle-mode {
  background-color: transparent;
  color: #333333;
}
.icon-sizing {
  width: 8rem;
}
