@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* Dark Mode Styles */
:root {
  --mode-theme-primary: #1b1f2b;
  --title-color-light: #c99f14;
  --sub-heading-color-light: #c99f14;
  --sub-heading-border-light: #4f6c96;
  --sub-heading-bg-light: #62778a2f;
  --details-ids-color-light: #4f6c97;
  --details-values-color-light: #00a2b1;
  --details-values-color-light-2: #c1fbff;
  --unknown-details-color-light: #62778a;
  --emoji-overall-bg-light: #558fc22f;
  --user-details-color-light: #62778a1c;
  --emoji-overall-bg-text-light: #558fc211;
  --card-title: #c99f14;
  --card-tags: #4f6c97;
  --card-tags-values: #00a2b1;
  --pagination-bg-button: #00a2b1;
  --pagination-bg-button-hover: #c99f14;
  --pagination-bg-text: #fff;
  --pagination-bg-text-hover: #2557a1;
  --loading-icon: #add5ce;
  --loader-icon: #ffe388;
  --input-search-color: #c99f14;
  --input-search-bg: #4f6c9725;
  --input-search-border: #00a2b12f;
  --dropdown-toggle: #1b1f2b;
  --no-data-found: #d2649a;
  --strong-theme: #deb7e6;
  --strong-theme-inside: #e6b7b7;
}

/* light Mode Styles */
:root.light-mode {
  --mode-theme-primary: #dbdde6;
  --title-color-light: #add5ce;
  --sub-heading-color-light: #826d91;
  --sub-heading-border-light: #4f6c96;
  --sub-heading-bg-light: #62778a2f;
  --emoji-overall-bg-light: #62778a2f;
  --details-ids-color-light: #4f6c97;
  --details-values-color-light: #d2649a;
  --details-values-color-light-2: #f7cfe2;
  --unknown-details-color-light: #62778a;
  --emoji-overall-bg-text-light: #62778a10;
  --card-title: #add5ce;
  --card-tags: #4f6c97;
  --card-tags-values: #d2649a;
  --pagination-bg-button: #4f6c97;
  --pagination-bg-button-hover: #d2649a;
  --pagination-bg-text: #282f3c;
  --pagination-bg-text-hover: #fff;
  --loading-icon: #282f3c;
  --loader-icon: #826d91;
  --input-search-color: #d2649a;
  --input-search-bg: #4f6c973a;
  --input-search-border: #282f3c;
  --dropdown-toggle: #dbdde6;
  --no-data-found: #62778a;
  --strong-theme: #c064d2;
  --strong-theme-inside: rgb(0, 67, 94);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1b1f2b;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode,
html.light-mode {
  background-color: #dbdde6;
  color: #333333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  /* this is special for /anime/5 since i don't see the point of doing this for customize the whole pages just for 1 page */
  /* overflow-x: hidden; */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.light-mode .App {
  background-color: #d2d3db;
  color: #333333;
}

.footer {
  display: flex;
  height: 3rem;
  background: #161619;
  border-radius: 0 0 10px 10px;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: auto;
  transition: background-color 0.3s, color 0.3s;
}

.navbar,
.footer {
  text-align: center;
}

.light-mode .footer {
  background: #d6d8e3;
}

.footer--links__icon {
  height: 5vh;
}

.footer--copyright {
  color: #f3ed99;
  font-weight: bolder;
  line-height: 15px;
  text-align: center;
  transition: color 0.3s;
}
.footer-md {
  color: var(--unknown-details-color-light);
  font-weight: bold;
}
.light-mode .footer--copyright {
  color: #074173;
}

.toggle-mode {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-mode img {
  height: 20px;
  width: 20px;
}

.light-mode .toggle-mode {
  background-color: transparent;
  color: #333333;
}

.icon-sizing1 {
  width: 6rem;
}

.icon-sizing2 {
  width: 3.1em;
  padding: 1%;
  margin: 1%;
}
.checking-no-data {
  color: var(--no-data-found);
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(250, 142, 70, 0.075);
  border-radius: 8px;
}
@media (max-width: 560px) {
  .footer--copyright {
    font-size: 0.7rem;
    margin-top: 1rem;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
    color: #fff;
    height: auto;
    background: #161619;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }

  .light-mode .navbar {
    background: #d6d8e3;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  input {
    width: calc(100% - 32px);
    max-width: 15rem;
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid var(--input-search-border);
    border-radius: 5px;
    background-color: var(--input-search-bg);
    color: var(--input-search-color);
    transition: border-color 0.3s ease;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
