@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #1b1f2b;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
}

body.light-mode,
html.light-mode {
  padding: 0;
  margin: 0;
  background-color: #dbdde6;
  color: #333333;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* The App component should take up the full height */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* .App {
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
} */

.light-mode .App {
  background-color: #d2d3db;
  color: #333333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer {
  display: flex;
  height: 3rem;
  background: #161619;
  border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: auto;
  transition: background-color 0.3s, color 0.3s;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: flex-end;
}

.light-mode .footer {
  background: #d6d8e3;
}

.footer--links__icon {
  height: 5vh;
}

.footer--copyright {
  color: #f3ed99;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  transition: color 0.3s;
}

.light-mode .footer--copyright {
  color: #074173;
}

.toggle-mode {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-mode img {
  height: 20px;
  width: 20px;
}

.light-mode .toggle-mode {
  background-color: transparent;
  color: #333333;
}
.icon-sizing1 {
  width: 6rem;
}
.icon-sizing2 {
  width: 3.1em;
  padding: 1%;
  margin: 1%;
}

@media (max-width: 560px) {
  .footer--copyright {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  .footer-hidden-small {
    visibility: hidden;
  }
}
